<html>
<head>
    <title>{{whichPG2}} page</title>  
<style> 
    body{ width: 400px; 
margin: 0px auto 0px auto; 
background-color: lightgrey;}
    
    h1{text-align: center;}
    
      footer{border-style:dashed;
          border-color: black;
        font-size: 2em;
    font-weight: bold;
    text-align: center;}

</style>
  </head>
<body><br><br>
 <h1> Hola, amigo. You are on the {{whichPG2}} webpage.</h1><hr>
    <a href="{{nav}}">Click here for the {{whichPG}} Page.</a>
    <hr>
    {{! what follows is the body of the individual corresponding pages}}
{{{body}}}
    <hr> <br>
    
    <footer>  Copyright: All Rights Not Really Reseved. </footer><br>
</body>
</html>
