  <h2>Details for {{title}}:</h2><hr>
  {{#if result}}
    <li>Title: {{ result.title }}
    <li>Author: {{ result.author }}
    <li>Pubdate: {{ result.pubdate }}
        <br><br>
        
                    <form action="/delete?title={{title}}">
 Delete this now: <br>
  <input type="text" name="title" value="{{title}}"> <br>
                <input type="submit" value="Delete"> </form>
        
        
        
        
        <form action="/edit?title={{title}}">
 <h2>Edit this book now: </h2><hr>
    
 Title:<br> <input type="text" name="title" value="{{ result.title }}"> <br>
 Author: <br><input type="text" name="author" value="{{ result.author }}"> <br>
Published: <br><input type="text" name="pubdate" value="{{ result.pubdate }}"> <br>
<input type="submit" value="Edit now"> </form>
        
  {{else}}
    not found
  {{/if}}
        
        
