<h2>Details for your edit of "{{title}}":</h2><hr>
  {{#if result}}
    <li>Title: {{ result.title }}
    <li>Author: {{ result.author }}
    <li>Pubdate: {{ result.pubdate }}
        <br>
        
<form action="/create?title={{title}}?author={{author}}?pubdate={{pubdate}}"><br>
 Add something else to the array: <br><hr>
    
   Title:<br> <input type="text" name="title" value="title..."> <br>
 Author: <br><input type="text" name="author" value="{{author}}"> <br>
Published: <br><input type="text" name="pubdate" value="{{pubdate}}"> <br>
<input type="submit" value="Create now"> </form>
        <hr>

        
        <br>
  {{else}}
    not found
  {{/if}}
